# Ignore artifacts that should not be sent to the Docker daemon
.git
.gitignore
.vs
.vscode
.idea
bin
obj
**/bin
**/obj
.nuget
packages
*.sln.docstates
TestResults
*.log
Dockerfile
.dockerignore
NuGet.Config
